<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body>
  
    <div th:fragment="base">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<title>SpringLeafEngine - [[ ${title} ]]</title>
		<link href="/resources/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="/resources/css/AdminLTE.min.css">
		<link rel="stylesheet" href="/resources/css/skins/skin-purple.min.css">
		<link rel="stylesheet" href="/resources/css/jquery.fileupload.css">
		<link rel="stylesheet" href="/resources/css/styles.css">
    </div>
  
  </body>
</html>