<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body>
  
    <div th:fragment="content">
    	<h1>Spring 4 + Thymeleaf 3 + App Engine + Internationalization + AdminLTE Template + Blueimp</h1>
    	
    	<div class="well home-text col-md-3">
    		<p><strong>Spring</strong> <span th:text="#{views.home.spring}"></span>
    		<a href="https://spring.io/" target="_blank"><span class="badge custom-badge"><i class="fa fa-envira"></i> <span th:text="#{views.home.btn.readmore.label}"></span></span></a></p>
    		
    		<p><strong>Google App Engine</strong> <span th:text="#{views.home.google}"></span>
    		<a href="https://cloud.google.com/appengine/" target="_blank"><span class="badge custom-badge"><i class="fa fa-google"></i> <span th:text="#{views.home.btn.readmore.label}"></span></span></a></p>
    	</div>
    	
    	<div class="well home-text col-md-3">
    		<p><strong>Thymeleaf</strong> <span th:text="#{views.home.thymeleaf}"></span>
    		<a href="http://www.thymeleaf.org/" target="_blank"><span class="badge custom-badge"><i class="fa fa-leaf"></i> <span th:text="#{views.home.btn.readmore.label}"></span></span></a></p>
    		
    		<p><span th:text="#{views.home.adminlte}"></span>
    		<a href="https://almsaeedstudio.com/" target="_blank"><span class="badge custom-badge"><i class="fa fa-tasks"></i> <span th:text="#{views.home.btn.readmore.label}"></span></span></a></p>
    	</div>
    	
    	<div class="well home-text col-md-5">
    		<h3 th:text="#{views.home.title.translateAndControllerVariables}"></h3>
    		<p><span th:text="#{views.home.title.app.translated}"></span> <span th:text="#{title.application}">App title</span> 
			<br /><span th:text="#{views.home.title.defined.in.controller}"></span> <span th:text="${title}">Title</span>
			<br /><span th:text="#{views.home.title.direct.access}"></span> [[ ${title} ]]</p>
			
			<h3 th:text="#{views.home.title.userAdminInfo}"></h3>
			<span th:text="${userAdmin.surname + ' ' + userAdmin.lastname}"></span>
			<span th:text="${userAdmin.type}"></span>
			<span th:text="${userAdmin.admin}"></span>
			
			<h3 th:text="#{views.home.title.utf8}"></h3>
	    	<p>Test (éèöôàç%ùîïàì)</p>
		</div>		
	    
	    <div class="clearfix"></div>
	    
	    <hr class="hr-60" />
    	
    	<div class="well home-text  col-md-3">
			<h3>User - Simple Ajax CRUD</h3>
			<ul>
				<li>List of users</li>
				<li>Search a user</li>
				<li>Add a user</li>
				<li>Update a user</li>
				<li>Delete a user</li>
			</ul>
    	</div>
    	
    	<div class="well home-text  col-md-3">
			<h3>Blueimp - Upload your images via ajax</h3>
			<p th:text="#{views.home.blueimp}"></p>
			
			<a href="https://github.com/blueimp/jQuery-File-Upload" target="_blank"><span class="badge custom-badge"><i class="fa fa-download"></i> <span th:text="#{views.home.btn.readmore.label}"></span></span></a></p>
    	</div>
    	
    	<div class="well home-text  col-md-5">
			<h3>Download a file via Ajax on Google Cloud Storage with Bucket</h3>
			<!-- Include ajax files fragment -->
			<th:block th:include="ajax-files::content"></th:block>
    	</div>
    	
    	<div class="clearfix"></div>
    </div>
  
  </body>
</html>