.custom-badge{background-color:#dff0d8 !important;color:#444;padding: 8px;display: block;width: 60%;margin: 20px auto;}
.custom-badge:hover{background-color:#605ca8 !important;cursor:pointer;color:#fff;}
table th {text-align:center;}
.notifyjs-corner {top: 60px !important;}
.hr-60{width:60%;margin:10px auto;}
.home-text{text-align: justify;margin: 8px;min-height:320px;}
.ajax-files img {height:150px;border:0;}
.ajax-files p {text-align:center;}